.sidepanel {
   position: fixed;
   top: 230px;
   left: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 340px;
   z-index: 3;
   align-items: center;
   &__devider {
      width: 2px;
      height: 70px;
      background-color: #000;
   }
   &__link {
      .telegram-icon {
         transform: rotate(-90deg);
         width: 25px;
      }
      .linkedin-icon {
         transform: rotate(-90deg);
      }
   }
   &__text {
      height: 150px;
      width: 25px;
      font-weight: 500;
      line-height: 25px;
      span {
         display: block;
         width: 150px;
         transform: rotate(-90deg) translate(-30%, -260%);
      }
   }
}